<div class="form-container">
    <div class="form" layout="row" layout-align="start center">
        <md-content class="md-padding">
            <div class="question-card">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>

                    <md-card-header>
                        <md-card-header-text>
                            <md-title>
                                <span class="md-headline">{{formCtrl.numberQuestion}}. {{formCtrl.actual_question.enunciado}}</span>
                            </md-title>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content>
                        <form ng-if="formCtrl.actual_question.tipoResposta !== 'TEXTO'"
                              ng-submit="submit()">
                            <md-radio-group ng-model="formCtrl.radio_question[formCtrl.actual_question.id]">
                                <div class="card-answer-opts" layout="column" layout-align="center start">
                                    <div class="checkbox">
                                        <md-radio-button value="1">1</md-radio-button>
                                    </div>
                                    <div class="checkbox">
                                        <md-radio-button value="2"> 2</md-radio-button>
                                    </div>
                                    <div class="checkbox">
                                        <md-radio-button value="3">3</md-radio-button>
                                    </div>
                                    <div class="checkbox">
                                        <md-radio-button value="4">4</md-radio-button>
                                    </div>
                                    <div class="checkbox">
                                        <md-radio-button value="5">5</md-radio-button>
                                    </div>
                                    <div class="checkbox">
                                        <md-radio-button value="-1">N/A</md-radio-button>
                                    </div>
                                </div>
                            </md-radio-group>
                        </form>
                    </md-card-content>

                </md-card>
            </div>
        </md-content>
    </div>

    <!-- Footer -->
    <div class="card-footer">
        <div class="question-card" layout="row" layout-align="space-between center">
            <div>
                <div layout="row" layout-align="start stretch">
                    <span>{{formCtrl.numberQuestion}} de {{formCtrl.numberOfQuestions}} perguntas</span>
                </div>
                <md-progress-linear md-mode="determinate" value="{{formCtrl.determinateValue}}"></md-progress-linear>
            </div>
            <div layout="row" layout-align="end center">
                <md-button ng-click="formCtrl.previous()">Anterior</md-button>
                <md-button ng-click="formCtrl.next()">Próxima</md-button>
            </div>
        </div>
    </div>
</div>
