<div class="form-container home-body">
    <div class="image-card" align="center">
        <img src="view/img/brasaoUfcg.png"></img>
    </div>
    <div class="presentation-card" align="center">
        <h3>Sistema de Avaliação Docente</h3>
    </div>
    <div class="instructions-card" align="center">
        <h5 class="introduction-text">
            Olá! Seja bem vindo ao <b>S</b>istema de <b>A</b>valiação <b>D</b>ocente.
            A nossa interface passou por algumas mudanças para melhorar a sua experiência
            durante o processo de avaliação. Você pode responder confortavelmente
            também pelo seu <i>smartphone</i>.
        </h5>
        <h6 class="introduction-text">
            A avaliação é totalmente <b>anônima, segura e confidencial</b>. Portanto, sinta-se
            à vontade para avaliar. Lembre-se: Críticas construtivas são o melhor caminho para
            o avanço e melhoria do nosso curso.
        </h6>
        <p class="rules-text">Responda a TODAS as questões para termos uma avaliação completa. Questionários parciais não são considerados em nossa avaliação.</p>
        <p class="rules-text">Fornecemos um questionário por disciplina, então se você cursou 5 disciplinas em 2017.1, deve responder 5 questionários (links e emails distintos).</p>
        <p class="rules-text">Além de avaliar o professor, avaliem também as salas e laboratórios apresentando detalhes dos problemas encontrados.</p>
        <p class="rules-text">Esse é o principal mecanismos que vocês possuem para reivindicar melhorias na infraestrutura, material e qualidade do aprendizado nas disciplinas durante o curso.</p>
        <p class="rules-text">Você deve votar escolhendo uma nota entre 1 (Discordo plenamente) e 5 (Concordo totalmente)
                              para os quesitos nas próximas páginas.</p>
    </div>
    <div class="home-footer" align="center">
        <md-button ng-click="">Começar</md-button>
    </div>
</div>
